---
import { default as Layout } from "@/src/layouts/static-layout.astro";
---

<Layout title="About" transition:animate={"fade"}>
    <h1 class="block-color-orange_background">about us</h1>
    <p>
        2022年の春より、大阪市立大学合気道サークルと大阪府立大学合氣道部が統合し、大阪公立大学合氣道部として活動しています！
    </p>
    <p>
        唯一中百舌鳥キャンパス、杉本キャンパスの両方で活動する公認の体育会所属の合気道部です。
    </p>
    <p>
        また，<a href="/about/links">リンク集</a
        >には、普段お世話になっている師範道場やOBの方々のホームページ、私たちと交流のある他の大学の部活動さんのリンクをまとめています。ぜひご覧ください。
    </p>

    <h2>歴史</h2>
    <ul>
        <li>
            1964年
            <ul>
                <li>大阪府立大学合氣道部: 発足</li>
            </ul>
        </li>
        <li>
            1968年
            <ul>
                <li>大阪市立大学合氣道部: 発足</li>
            </ul>
        </li>
        <li>
            2018年 4月
            <ul>
                <li>大阪市立大学合氣道部: 廃部</li>
            </ul>
        </li>
        <li>
            2018年 10月
            <ul>
                <li>
                    大阪市立大学合氣道サークル:
                    市大合氣道部の活動を引き継ぐ形で発足
                </li>
            </ul>
        </li>
        <li>
            2022年4月
            <ul>
                <li>
                    大阪公立大学合氣道部:
                    大阪市立大学・大阪府立大学の大学統合に伴い両大学の合氣道部が統合
                </li>
            </ul>
        </li>
        現在に至る
    </ul>
    <hr />
    <h1 class="block-color-blue_background">活動場所</h1>
    <p>大阪公立大学の以下施設にて活動しています。</p>
    <ul class="bulleted-list">
        <li style="list-style-type:disc">
            中百舌鳥キャンパス体育館1階・武道場
        </li>
    </ul>
    <ul class="bulleted-list">
        <li style="list-style-type:disc">杉本キャンパス新武道場</li>
    </ul>
    <p class="block-color-default">
        詳細については<a href="/access">稽古場</a> ご覧ください
    </p>
    <h1 class="block-color-teal_background">活動日</h1>
    <table class="simple-table">
        <thead class="simple-table-header">
            <tr>
                <th
                    class="simple-table-header-color simple-table-header"
                    style="width:48px">曜日</th
                >
                <th
                    class="simple-table-header-color simple-table-header"
                    style="width:105px">時間</th
                >
                <th
                    class="simple-table-header-color simple-table-header"
                    style="width:208.3046875px">場所</th
                >
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="width:48px">月</td>
                <td style="width:105px">17:30~19:30</td>
                <td style="width:208.3046875px">中百舌鳥キャンパス</td>
            </tr>
            <tr>
                <td style="width:48px">火</td>
                <td style="width:105px">18:30~19:30</td>
                <td style="width:208.3046875px">中百舌鳥キャンパス</td>
            </tr>
            <tr>
                <td style="width:48px">金</td>
                <td style="width:105px">19:30~21:00</td>
                <td style="width:208.3046875px">杉本キャンパス</td>
            </tr>
            <tr>
                <td style="width:48px">土</td>
                <td style="width:105px">18:00~20:00</td>
                <td style="width:208.3046875px">中百舌鳥キャンパス</td>
            </tr>
        </tbody>
    </table>
    <p>
        詳しい予定は<a href="/schedule">予定表</a>をご確認ください。
    </p>
    <hr />
    <h2>活動</h2>
    <h3>団体等基本情報</h3>
    <table>
        <tr><th>団体名称</th><td>大阪公立大学合氣道部</td></tr>
        <tr><th>団体種別</th><td>公認団体</td></tr>
        <tr><th>活動分類</th><td>武道／スポーツ</td></tr>
        <tr>
            <th> 構成員数 </th>
            <td>
                18名（１年生：9名、２年生：5名、３年生：0名、４年生：4名、大学院生：0名）うちマネージャー0名
                <br />
                ※2024年6月現在
            </td>
        </tr>
        <tr>
            <th>引退時期</th>
            <td> なし *3月に幹部交代を行うが、交代後も部活参加可能 </td>
        </tr>
        <tr><th>部費</th><td>6ヶ月5千円</td></tr>
        <tr>
            <th>部費以外の負担</th>
            <td>
                合宿費（部会計、OB会、体育会からの補助に応じて減免あり）遠征費（交通費、イベント参加費（1500円〜）など）
            </td>
        </tr>
        <tr><th>２年生以上の受入</th><td>歓迎。</td></tr>
        <tr>
            <th> 兼部・兼サー </th>
            <td>
                可能です。白鷺祭実行委員会、中百舌鳥新歓実行委員会などに参加している部員もいます。兼部・兼サーをして、予定が合わない場合は無理に合氣道の稽古に参加しなくても構いません。
            </td>
        </tr>
        <tr><th>バイトとの両立</th><td>可能です。</td></tr>
        <tr><th>入部可能時期</th><td>通年可能</td></tr>
        <tr>
            <th>入部方法</th>
            <td>
                SNSのDM/飛び込み参加などにて、見学・体験を受け付けております。
            </td>
        </tr>
    </table>
    <h3>年間行事予定</h3>
    <table>
        <tr><th>４月</th><td>ふたば祭教室企画出店</td></tr>
        <tr><th>５月</th><td>—</td></tr>
        <tr><th>６月</th><td>合気道フェスティバル</td></tr>
        <tr><th>７月</th><td>都立大戦</td></tr>
        <tr><th>８月</th><td>道場特別稽古</td></tr>
        <tr><th>９月</th><td>合宿</td></tr>
        <tr><th>10月</th><td>旧三商大合同稽古</td></tr>
        <tr><th>11月</th><td>六公立大戦、白鷺祭模擬店出店</td></tr>
        <tr><th>12月</th><td>吹田市合気道演武大会</td></tr>
        <tr><th>１月</th><td>—</td></tr>
        <tr><th>２月</th><td>—</td></tr>
        <tr><th>３月</th><td>道場特別稽古</td></tr>
    </table>
    <hr />
    <h1 class="block-color-purple_background">ご連絡</h1>
    <p>稽古の見学や体験に興味のある方は以下からご連絡ください。</p>
    <p>
        <a href="/contact">ご連絡</a>
    </p>
</Layout>
