---
import { default as Layout } from "@/src/pages-layouts/static-layout.astro";
import ScheduleCalendar from "@/src/pages-components/calendar.astro";
import ProgressCircle from "@/src/components/ui/progress-circle.astro";
---

<Layout title="稽古予定">
    <h1 class="block-color-orange_background">稽古予定</h1>
    <div class="timeTable">
        <ScheduleCalendar server:defer>
            <div class="fallback" slot="fallback">
                <ProgressCircle title="Loading" inline="true" />
            </div>
        </ScheduleCalendar>
    </div>
    <hr />
    <a
        href="https://calendar.google.com/calendar/ical/new.ocuaikido%40gmail.com/public/basic.ics"
    >
        Googleカレンダー
    </a>では過去の稽古や１ヶ月以上先の稽古予定も確認できます。
</Layout>

<style>
    .timeTable {
        max-width: 620px;
        margin: 2rem auto;
    }

    .fallback {
        height: 70vh;
    }
</style>
